* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 30%; /* 이미지의 최대 너비를 부모 요소의 너비에 맞게 조절합니다. */
  height: auto; /* 가로세로 비율을 유지하면서 이미지의 높이를 자동으로 조정합니다. */
}
table {
  border-collapse: separate;
  border-spacing: 0;
}

td,
th {
  padding-left: 70px;
  padding-right: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6eb;
  color: #381fd1;
  padding: 1rem 6rem;
}
nav button {
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
  color: #f6f6eb;
  border: none;
  background-color: #381fd1;
}
.header-left > * {
  display: inline;
  font-weight: 500;
}
.header-left :last-child {
  border-left: 2px solid white;
  padding-inline-start: 0.5rem;
  margin-inline-start: 0.5rem;
}

nav button:first-child {
  background-color: rgb(34, 33, 33);
  border: 1px solid white;
  margin-right: 0.3rem;
}

header {
  background-color: #ccd1f1;
  display: flex;
  justify-content: center;
  padding-block: 7rem;
  overflow-x: hidden;
}
header div > * {
  width: 100%;
}
header div {
  max-width: 70%;
}
.header-right {
  display: none;
}
@media screen and (min-width: 720px) {
  header div {
    max-width: 50%;
    display: grid;
    gap: 0.5rem;
  }
  header h1 {
    font-weight: 500;
    font-size: calc(100% + 2.5rem);
    letter-spacing: -1px;
  }
  .header-right {
    display: block;
  }
}
header input {
  padding: 1.3rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(148, 148, 148);
}

section {
  display: flex;
  max-width: 80%;
  margin-inline: auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem 2rem;
  margin-top: 6rem;
}
section .search-card {
  flex: 400px 1 0;
  box-shadow: 2px 2px 7px 0px #5f5f8b85;
  padding: 2rem;
  gap: 1rem;
  display: grid;
  border-radius: 0.4rem;
}
span a {
  text-decoration: none;
  color: #525fb6;
}

/* ----------------------------------------------*/
  footer{
    
    background: #11284b;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 100px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
    max-width: 700px;
  }
  .content .top {
    color: #fff;
    font-size: 50px;
  }
  
  footer .content .link-boxes{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;     
    grid-template-rows: 100px 100px 100px 100px;  
  }
  
  
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  
  
  
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #ffd000;
    opacity: 0.8;
    text-decoration: none;
 
  }
  







  